# Environment variables
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.pt

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store

# Old Streamlit files
.streamlit/
app.py
utils.py
requirements.txt
.vercel
